[submodule "x_macro"]
	path = x_macro
	url = git@github.com:altersun/x_macro.git
[submodule "ringie"]
	path = ringie
	url = https://github.com/altersun/ringie
[submodule "before_main"]
	path = before_main
	url = git@github.com:altersun/before_main.git
